
    <div class="row gap-4">
      <wc-input name="[= fullName =]"
        lbl-label="[= properSuffix =]"
        class="col"
        type="checkbox" {% if Record.[= fullName =] %} checked="" {% endif %}
        toggle-switch
        [= required =]>
      </wc-input>
    </div>
