
    <div class="row gap-4">
      <wc-input name="[= fullName =]"
        lbl-label="[= properSuffix =]"
        class="col-1"
        value="{{Record.[= fullName =]}}"
        [= required =]>
      </wc-input>
    </div>
