
    <div class="row gap-4">
      <wc-input name="[= fullName =]"
        lbl-label="[= properSuffix =]"
        class="col-1"
        type="checkbox"
        toggle-switch
        [= required =]>
      </wc-input>
    </div>
