
    <wc-input name="[= fullName =]"
      lbl-label="[= properSuffix =]"
      class="col-1"
      type="number"
      value="{{Record.[= fullName =]}}"
      min="[= min =]"
      max="[= max =]"
      step="1"
      [= required =]>
    </wc-input>
