
    <div class="row gap-4">
      <wc-select name="[= fullName =]"
        mode="chip"
        class="col-1"
        lbl-label="[= properSuffix =]"
        multiple
        [= required =]>
        {% set [= suffix =] = Record.[= fullName =] %}
        {% for item in Collections %}
        <option value="{{item}}"{% if [= suffix =]|contains:item %} selected{% endif %}>{{item}}</option>
        {% endfor %}
      </wc-select>
    </div>
