
    <div class="row gap-4">
      <wc-textarea name="[= fullName =]"
        lbl-label="[= proper =]"
        class="col-1"
        value="{{Record.[= fullName =]}}"
        [= required =]>
      </wc-textarea>
    </div>
