
          <wc-tabulator-column
            field="[= fieldName =]"
            title="[= properName =]?"
            formatter="tickCross"
            header-filter="tickCross"
            header-filter-params='{"tristate":true}'
            header-menu="headerMenu"
            visible="true"
            ></wc-tabulator-column>
